QWidget#main {

    background-color: lightgrey;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

QWidget#picture {
    min-width: 1280px;
    min-height: 720px;
    border: 2px solid;
    border-color: grey;
    background-color: grey;
}

QWidget#settings{
    border: 2px solid;
    border-color: grey;
    border-radius: 5px;
    min-width:200px;
    background-color: lightgrey;
}
QWidget#groupBox{
    border-radius: 5px;
    background-position: top;
    border: 2px solid;
    border-color:gray;
}


QWidget#processingStrategiesCombobox{

}

QWidget#evaluatingCheckBox{
    background-position: bottom;
}